<div class="container">
<h1>Create a new post!</h1>

<form action="/create_posts" method="post">

  <label>Title<input type="textarea" name="post[title]" id="title"></label><br/>

  <label>Body<input type="textarea" name="post[body]" id="body"></label><br/>

  <input type="submit" name="submit">

</form>

</div>
